
.cart {
    color: #000;
    border: 2px solig lawngreen;
    

}

.empty_cart h3 {
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.description h3 {
    color: white;
}


.description p {
    color: white;
}

.total {
    color: lightgreen;
    font-weight: bold;
    font-size: 20px;
}

.description button.action {
    color: lightgreen;
    font-size: 29px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.description button.actions {
    color: lightgreen;
    font-size: 29px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.row {
    margin: auto;
    color: red;
    margin-top: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    color: red;
    font-size: 28px;
}

.main_cart {
    padding-top: 10rem;
    width: 80%;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

img.cart_image {
    width: 250px;
}

.btn, .h3{
    color: red;
}