.cont2{
    position: relative;
    top: 100px;
    text-align: center;
    height: 10%;
    margin: 100px;
 
}

.fcontainer{
 display: flex;
 justify-content: space-around;
 margin-top: 4%;
 margin-left: 5%;

}
.fcontainer h1{
 font-family:'Poppins', sans-serif ;
}
.feedbackCard img{
    height: 50px;
    width: 35;
    
}
#feed-pic{
    width: 100%;
    padding: 0%;
    
    }
