@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&family=Poppins&display=swap");

.home-page {
  background-image: url("../Images/black-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.home-page-container {
  position: absolute;
  top: 20%;
  color: white;
  font-family: "Comic Neue";
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 1%;
}

.centered-text {
  position: relative;
  left: 15%;
  font-size: 20px;
  width: 90%;
}
.home-page-img {
  margin-left: 30%;
  height: 450px;
  width: 380px;
}

#home-page-btn {
  margin-top: 10%;
  font-size: 15px;
  padding: 5px; 
  background-color: rgb(77, 76, 76);
  color: white;
  border-radius: 15px;
  font-weight: bold;
}

#home-page-btn:hover {
  background-color: white;
  color: black;
  /* transform: scale(1.1);  */
  transition: ease-in-out 0.4s;
}

.footer-section {
  border: solid 30px red;
}

@media (max-width: 1280px) {
  .home-page-img {
    margin-right: 23%;
  }
}
