#nav-btn-login {
    background-color: rgb(77, 76, 76);
    color: white;
    border-radius: 15px;
    font-weight: bold;

}

#nav-btn-login:hover {
    background-color: white;
    color: black;
    /* transform: scale(1.1);  */
    transition: ease-in-out .4s
}

#img-mini{
    width: 173px;
    height: 50px;
    margin-left: 2.2cm;
    object-fit: cover;
  
}
#drop-down-nav{
    background-color: black;
    color: white;
    font-weight: bold;
    margin-left: 1%;
}
#drop-down-nav:hover{
  transform: scale(1.1);
}