.payment {
    width: 100%;
    height: 70vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.checkout {
    padding-top: 10rem;
}

.checkout h1{
    color: white;
    font-size: 44px;
    font-weight: bold;
    font-style: italic;
}

.checkout p {
    font-size: 20px;
    font-weight: normal;
    color: whitesmoke;
    font-weight: bolder;
}