input[type="radio"] {
    display: none;
}
.star{
    cursor: pointer;
    transition: color 200ms;
}
.review-stars{
    margin-left: 30%;
    margin-top: 6%;
}
#rating-p{
    margin-left:-16%;
    margin-top: 1%;
    font-size: 25px;
   
    font-weight: 900;
}