@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900%display=swap');
.signup-main{
    background-image: url('https://ke.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/90/758145/1.jpg?1597'); 
    width: 100%;
    height: auto;
}


.box {
    
    width: 580px;
    height: 620px;
    border-radius: 8px;
    background: #1c1c1c;
    overflow: hidden;
}

.box::before{
    content: '';
    position: absolute;
    /* content: ''; */
    /* position: absolute; */
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, 
    red, purple);
  
}

.form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;

}
.input-group{
    position: relative;
    width: 300px;
    margin-top: 35px;
    margin-left: 45px;

}
.input-group i {
    position: absolute;
    padding-left: 50%;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    background: rgb(77, 76, 76);
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.links {
    display: flex;
    justify-content: space-between;

}

.links a {
    margin: 10px 0;
    font-size: 00.95em;
    color: #8f8f8f;
    color: white;
    text-decoration: none;
}

.links a:hover,
.links a:nth-child(2)
 {
    color: #45f3ff;
    color: white;

}
input[type='submit'] {
    border: none;
    outline: none;
    background: #45f3ff;
    background: rgb(77, 76, 76);
    width: 250px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10%;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}
#signupbtn{
    background-color: rgb(77, 76, 76);
    color: white;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-left: 16%;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
   
}
  
#signupbtn:hover {
    background-color: white;
    color: black;
    /* transform: scale(1.1);  */
    transition: ease-in-out 0.4s;
  }

