@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900%display=swap');
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #23242a;
} */

.box {
    position: relative;
    width: 480px;
    height: 620px;
    border-radius: 8px;
    background: #1c1c1c;
    overflow: hidden;
}

.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, 
    #45f4ff, #45f4ff);
}

.form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;

}
.input-group{
    position: relative;
    width: 300px;
    margin-top: 35px;
    margin-left: 45px;

}
.input-group i {
    position: absolute;
    padding-left: 50%;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.links {
    display: flex;
    justify-content: space-between;

}

.links a {
    margin: 10px 0;
    font-size: 00.95em;
    color: #8f8f8f;
    text-decoration: none;
}

.links a:hover,
.links a:nth-child(2)
 {
    color: #45f3ff;

}
input[type='submit'] {
    border: none;
    outline: none;
    background: #45f3ff;
    width: 250px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10%;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}
/* p{
    color: rgb(213, 198, 198);
} */